In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# Content Filtering Recommendation System
A simple content filtering recommendation system to better understand the concepts. \
Source: https://github.com/BadreeshShetty/Learnings-to-make-Recommedations

In [122]:
df_mov = pd.read_csv('simple_rec_sys_data/movies.csv', index_col=0, encoding='latin-1', sep=',', dtype='string')

In [123]:
df_mov.head()

,title,genres
movieId,,
1,Toy Story,Adventure|Animation|Children|Comedy|Fantasy
2,Jumanji,Adventure|Children|Fantasy
3,Grumpier Old Men,Comedy|Romance
4,Waiting to Exhale,Comedy|Drama|Romance
5,Father of the Bride Part II,Comedy

In [124]:
df_mov.shape

(9742, 2)

In [125]:
df_mov.dtypes

title     string[python]
genres    string[python]
dtype: object

## Correct Data Structure
- Correct genres string structure
- Determine null values
- Determine if duplicates exist

Split the genres string into a list

In [126]:
df_mov['genres'] = df_mov['genres'].str.split('|')

In [130]:
df_mov.head()

,title,genres
movieId,,
1,Toy Story,"[Adventure, Animation, Children, Comedy, Fantasy]"
2,Jumanji,"[Adventure, Children, Fantasy]"
3,Grumpier Old Men,"[Comedy, Romance]"
4,Waiting to Exhale,"[Comedy, Drama, Romance]"
5,Father of the Bride Part II,[Comedy]

Remove any null or empty values.

In [133]:
df_mov.isna().any()

title     False
genres    False
dtype: bool

Within the dataframe there are no null values

Check if there are any duplicate titles